.bla{
  background: grey;
  border-radius: 5px;
}

.margin{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.ble:hover:not(.active) {background: grey; color: white; cursor: pointer; text-decoration: none;}
