<div class="container">
  <h3 style='text-align:center'>Sign Up</h3>
  <br />
  <h5>First Name</h5>
  <input style='box-shadow:2px 2px 5px' #firstName type="text" class="form-control" (keyup)='enterPressed($event, firstName.value, lastName.value, username.value, email.value, password.value)'>
  <br />
  <h5>Last Name</h5>
  <input style='box-shadow:2px 2px 5px' #lastName type="text" class="form-control" (keyup)='enterPressed($event, firstName.value, lastName.value, username.value, email.value, password.value)'>
  <br />
  <h5>Username</h5>
  <input style='box-shadow:2px 2px 5px' #username type="text" class="form-control" (keyup)='enterPressed($event, firstName.value, lastName.value, username.value, email.value, password.value)'>
  <br />
  <h5>Email</h5>
  <input style='box-shadow:2px 2px 5px' #email type="text" class="form-control" (keyup)='enterPressed($event, firstName.value, lastName.value, username.value, email.value, password.value)'>
  <br />
  <h5>Password</h5>
  <input style='box-shadow:2px 2px 5px' #password type="password" class="form-control" (keyup)='enterPressed($event, firstName.value, lastName.value, username.value, email.value, password.value)'>
  <br />
  <!-- <button class='btn btn-outline-primary' (click)='profileImage.click()'>Upload Profile Image</button><br /><br />
  <div style='background: white; border-radius: 5px; box-shadow:2px 2px 5px'>
    <input #profileImage (change)='onFileSelected($event)' style='display:none' type="file" class="form-control"  aria-describedby="basic-addon1">
    <p>Selected Image: <img style='width:3em; height: 3em; border-radius: 10px' *ngIf='selectedFiles' [src]="imagePreview"></p><br />
  </div>
  <br /> -->
  <div *ngIf='errorMessages && errorMessages.length == 1'>
    <p class='alert alert-danger' *ngFor='let error of errorMessages'>{{error.field}} {{error.defaultMessage}}</p>
  </div>
  <div *ngIf='errorMessages && errorMessages.length > 1'>
    <p class='alert alert-danger' *ngFor='let error of errorMessages'>{{error.field}} {{error.defaultMessage}}</p>
  </div>
  <button style='box-shadow:2px 2px 5px' class='btn btn-md btn-outline-secondary' (click)='onSignup(firstName.value, lastName.value, username.value, email.value, password.value)'>Sign Up</button>
  <br /><br />
</div>
