<div *ngIf='user'>
  <div style='width: 98%'>
    <div class="card" style="width: 100%; box-shadow: 5px 5px 5px grey">
      <div class="card-body" style='padding-bottom: 0.5em'>
        <div class="row" >

          <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <img style='width: 2.5em; border-radius: 10px; height: 2.5em' *ngIf='user && user.profileImage' src='{{imageUrl}}/files/download/{{user.profileImage.name}}'/>
            <img style='width: 2.5em; border-radius: 10px; height: 2.5em' *ngIf='user && !user.profileImage' src='./assets/noUserImage.png'/>
          </div>

          <div  style='padding-left: 0px; padding-right: 0px;' class="col-9 col-sm-10 col-lg-10">
            <span ><a href=''>{{user.firstName}} {{user.lastName}}: </a></span>
            <textarea #textArea class="form-control" placeholder="type your comment..."></textarea>
            <span class='btn btn-sm btn-outline-success' title='Create' (click)='onCreate(textArea.value)'>
              Create
            </span>&nbsp;
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
